---
import Gradient from "../components/Gradient.astro"
import WaitlistInput from "../components/WaitlistInput.astro"
import Layout from "../layouts/Layout.astro"
// import Card from "../components/Card.astro"
---

<Layout title="Welcome to Alizarin Crimson">
  <div
    class="absolute -top-8 left-1/2 -translate-x-1/2 -z-10 w-[200px] h-[200px] flex-shrink-0 rounded-full bg-white/10 blur-[50px]"
  >
  </div>
  <img
    src="/logo 2.png"
    alt="alizarin crimson logo"
    class="logo absolute invisible top-[50px] left-1/2 -translate-x-1/2 w-[70px]"
  />
  <main>
    <div class="text-center text-wrapper">
      <h2 class="font-bold lg:text-4xl text-xl lg:mb-10 mb-5">
        Alizarin Crimson Publishers
      </h2>
      <a
        href="mailto:publishers@acrimson.com"
        class="text-center invisible underline"
        id="email">publishers@acrimson.com</a
      >
    </div>
  </main>
</Layout>

<script>
  import { gsap } from "gsap"
  import SplitInnerText from "../libs/splitinnerhtml"

  const logo = document.querySelector(".logo")
  const titles: HTMLElement[] = gsap.utils.toArray("h2")

  const tl = gsap.timeline({
    defaults: {
      ease: "power2.out",
    },
  })

  tl.to(logo, {
    top: "120px",
    y: "0%",
    autoAlpha: 1,
    duration: 1.5,
    scale: 2,
    ease: "power2.out",
  })
    .from("#title", {
      y: -100,
      opacity: 0,
      autoAlpha: 0,
      duration: 1,
      ease: "power2.out",
    })
    .from(
      "#email",
      {
        y: -40,
        autoAlpha: 0,
        ease: "power2.in",
      },
      0.8
    )

  titles.forEach(title => {
    const splitTitle = new SplitInnerText(title)

    tl.from(
      splitTitle.chars,
      {
        opacity: 0,
        y: 40,
        rotateX: -90,
        stagger: 0.02,
      },
      0.5
    )
  })
</script>

<style>
  main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    max-width: 1444px;
    color: white;
  }

  h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
