---
interface Props {
  [key: string]: HTMLButtonElement[keyof HTMLButtonElement]
}

const { ...rest } = Astro.props
---

<button> join waitlist </button>

<style>
  button {
    border: none;
    display: flex;
    text-transform: capitalize;
    /* height: 41px; */
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 73px;
    background: var(--Base-Primary);
    color: var(--Base-White);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 12.6px */
  }
</style>
