---

---

<!-- black background -->
<div class="absolute inset-0 bg-black"></div>

<!-- blur background -->
<div class="absolute inset-0 -z-10 backdrop-blur-[90px]"></div>

<!-- blured circle -->
<div
  class="gradient-circle absolute left-1/2 top-[400px] w-[300px] -translate-x-1/2 -z-40 h-[300px] lg:w-[900px] lg:h-[900px]"
>
  <div
    class="w-full h-full rotate-circle bg-gradient-to-tl to-blue-500 from-violet-800 rounded-full"
  >
  </div>
</div>
